
body {
    font-family: Tahoma, Helvetica, sans-serif;
    background-color: beige;
}

.header {
    float: right;
}

.header a:hover {
    background-color: lightblue;
    color: black;
}

.regional {
    display: inline-block;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

#titleImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 50%;
}

.donuts {
	float: left;
	position: relative;
	margin: 5px;
	color: #333;
}

.donuts .caption {
	display: none;
	position: absolute;
	bottom: 0px;
	padding: 5px;
	background:#cae5c1;
	width: 290px;
	opacity: 0.8;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;

  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

tr, td, th {
    border-style: inset;
    border-width: 2px;
    text-align: center;
    border-spacing: 2px;
    padding: 10px;
}

th {
 font-weight: bold;   
}

table {
    border-style: outset;
    border-width: 2px;
}
