
body {
    font-family: Tahoma, Helvetica, sans-serif;
    background-color: DarkSlateGray;
}

.logo img, h1 {
    font-size: 30px;
    display: inline-block;
}

.header {
    float: right;
}

.header a:hover {
    background-color: lightblue;
    color: black;
}

.regional {
    display: inline-block;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

#titleImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 50%;
}

.aircraftType {
    display: inline-block;   
}

.schedule p {
    display: inline-block;
}

#arrivals {
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding-left: 200px;
}

#departures {
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding-right: 200px;
}

.booking p {
    display: inline;
    text-size: 15px;
}

.booking #formA #formB {
    display: inline-block;
}

tr, td, th {
    border-style: inset;
    border-width: 2px;
    text-align: center;
    border-spacing: 2px;
    padding: 10px;
}

th {
 font-weight: bold;   
}

table {
    border-style: outset;
    border-width: 2px;
}
