
body {
    font-family: Tahoma, Helvetica, sans-serif;
    background-color: sienna;
}

.header {
    float: right;
}

.header a:hover {
    background-color: lightblue;
    color: black;
}

.regional {
    display: inline-block;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

#titleImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 50%;
}

/* Parent Container */
.Donuts{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
}

/* Child Text Container */
.Donuts div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;  
    transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.Donuts:hover{
    cursor: pointer;
}    

.Donuts:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;        
}

tr, td, th {
    border-style: inset;
    border-width: 2px;
    text-align: center;
    border-spacing: 2px;
    padding: 10px;
}

th {
 font-weight: bold;   
}

table {
    border-style: outset;
    border-width: 2px;
}
